.menubar {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 65px;
    position: sticky;
    top: 8px;
    left: 0;
}

.search {
    border-radius: 15px;
    width: 300px;
    height: 25px;
}

.menusearch {
    position: fixed;
    top: 26px;
    left: 50%;
}

.mainimg {
    width: 100%;
}

.popularitem {
    font-size: 39px;
    text-align: center;
}

.items {
    text-align: center;
    margin-left: 6%;
    font-size: 20px;
}

.tableitem {
    border: 3px solid black;
}

.tablecontactus {
    width: 640px;
    height: 170px;
}

.contactusdiv {
    margin-left: 28%;
}

.minibox {
    height: 32px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
}

.bigbox {
    height: 146px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
}

.td {
    border: 7px solid white;
}

.submit {
    font-size: 17px;
    margin-left: 46%;
    border-radius: 5px;
}

.address {
    margin-left: 20%;
}

.motu {
    width: 270px;
}

.motudiv {
    border: 2px solid black;
    width: fit-content;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 1220px;
        top: 0px;
    }
    50% {
        left: 1220px;
        top: 690px;
    }
    75% {
        left: 0px;
        top: 690px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.img:hover {
    background-color: #f5f5f5;
    transform: scale(1.1);
    box-shadow: 2px 2px 12px rgba(0, 0, 255, 0.2), -1px -1px 8px rgba(0, 0, 255, 0.2);
}